.bg-pick{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPMHr61BIMu0grixTFXNEj5_meTY7XkqIkmA&s); */
background-image: url(https://thumbs.dreamstime.com/b/joyful-black-man-holding-money-jumping-air-screaming-excitement-big-win-afro-guy-cash-over-yellow-studio-background-165480072.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100% !important;


}