.navbar{

    /* position: relative; */
    background-color: white;
width: 95%;
    display: flex;
    align-items: center;
margin: 1% 3%;
}
.navbarleft img{
width: 30%;
}
.navbarleft{
    width: 50%;
    display: flex;
/* justify-content: space-between; */

gap: 20%;
align-items: center;
}
.navbarleft a{
text-decoration: none;
color: black;
/* display: flex; */
/* font-size: medium;
 */
 font-size: large;
font-weight: bold;
/* line-height: 50px; */
 /* align-items: center; */
&:hover{
color: red;

}

}
.navbarleft div{
    display: flex;
gap: 20%;

    align-items: center;

}
.navbarright{
    display: flex;
    align-items: center;
    gap: 13px;
   /* background-color: aqua; */
   width: 30%;
    
}
.navbarright .iconbox {
font-size: large;
position: relative;

}
.searchbox{
border: 1px solid red;
    border-radius: 10px;
position: absolute;
width: 50%;
padding: 15px 25px;
left:25%;
transition: 1s ease;
top: 100%;
}
.profile{

    position: relative;


}

.profile-dropdown{
position: absolute;
top: 100%;
left: -100%;
background-color: white;
border-radius: 10px;
padding: 10px;
line-height: 30px;
/* display: none; */

box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
height: 0px;
opacity: 0;
transition: height 0.3s ease, opacity 0.3s ease;

}
.profile ul li{
list-style-type: none;
margin: 5px;
cursor: pointer;
&:hover{

    text-decoration: underline;
}

}
.profile ul li a{
    text-decoration: none;
    color: black;
    
}
.profile:hover .profile-dropdown{
display: block;
height: fit-content;
opacity: 1;
z-index: 1;
}
